.center-div{
    margin: 0 auto;
    width: 100px;
}


.jumbotron{
    background: url(../images/background.jpg);
}

/* header */
header {
    background-color:rgba(46, 139, 86, 0.652);
}

/* Instructions */
#shadow{
   background-color:rgba(119, 136, 153, 0.652);
   padding: 10px 10px 10px 10px ;

}
#shadow > p{
    font-weight: 600;
}





/* RandomNumber */


/* Score Box */


/* Gems */

.gem {
    width: 78px;
    height: 78px;
    margin-top: 8px;
    margin-right: 5px;
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px;
    
}
